server {
  listen 80;
  listen [::]:80;
  server_name localhost;
  proxy_cache off;
  
  location /n8n/ {
    proxy_pass http://localhost:5678/;
    proxy_buffering off;
  }

  location / {
    proxy_pass http://localhost:3000/;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }

  
}